<div class="main_part">
    <div class="main" appCustDirective>
        <h1>Main-Part1</h1>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora excepturi ea, cum exercitationem
    deserunt sunt
    incidunt, quia officiis enim illo unde minima laudantium obcaecati sint aliquam voluptas, ullam iusto. Recusandae
    doloribus consequatur deserunt nostrum ipsum praesentium sapiente blanditiis ab quam quos, repellat voluptatibus nam
    suscipit unde quasi id rerum atque.</div>
<div class="main" appCust2dDirective>
    <h1>Main-Part2</h1>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci consequatur quam exercitationem minima dolorem
    modi explicabo, facilis velit totam, at delectus veritatis incidunt commodi rerum corporis maiores. Dicta, similique
    nam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil maxime harum veniam necessitatibus. Nihil, vero
    praesentium eligendi nobis dicta, totam neque, et ab fugiat minima fuga est voluptas incidunt earum!
</div>
</div>
