
  <!-- <h2> hi!! this is angular</h2> -->
     <!-- <app-binding> </app-binding>  -->
 <!--<app-student></app-student> -->
 <!-- <app-student2></app-student2>  -->
  <!-- <app-student3></app-student3>  -->
  <!-- <app-template-form></app-template-form> -->
  
  <!-- <app-reactive-forms></app-reactive-forms> -->
  <!-- <app-pipe></app-pipe> -->
  <!-- <app-reactive-form2></app-reactive-form2> -->
  <!-- <app-lifecycle></app-lifecycle> -->
   <!-- <app-practice1></app-practice1> -->
  <!-- <app-header></app-header>
  <app-main></app-main>
  <app-footer></app-footer>  -->
  <!-- <app-practice2></app-practice2> -->
   <!-- <app-service></app-service>  -->
   <!-- <app-formtask></app-formtask> -->
   <!-- <app-rsjx-operator></app-rsjx-operator> -->
   <!-- <app-practice-service></app-practice-service> -->
   <app-promises></app-promises>