 <h3>Hi!! this is feature componenet </h3>
<b><u>{{test}}</u></b><br>
number is {{test2}}<br><br>

<a [href]="alink">click here</a>
<br><br>

<button (click)="Onclick()"class="btn btn-success">Save</button>
<br><br>

enter your name:<input type="text"name="Fname" [(ngModel)]="Fname"><br><br>
input of enterd name:{{Fname}} 

<!-- <h2>Your age is {{age}}</h2>
<a [href]="linked">click here</a>
<br>
<button (click)="onSubmit()">Save</button>
<br><br>
 First Name: <input type="text"name="fname" [(ngModel)]="fname"><br>

 value: {{fname}} -->


