<h2> <u>Angular Pipes</u>  </h2>

<p> {{sample}}</p>
<p>{{sample | uppercase}}</p>
<p>{{sample | lowercase}}</p>
<p>{{sample | titlecase}}</p><br>

<h2> <u>Date Pipes</u>  </h2>

<p> {{date2}}</p>
<p> Standard Format:{{date2 | date}}</p>
<p>Short Date:&nbsp;{{date2 | date:'short'}}</p>
<p>dd-MM-yyy: {{date2 | date:'dd-MM-yyy'}}</p>
<p>dd/MM/yyy: {{date2 | date:'dd/MM/yyy'}}</p>
<p>Medium Date: {{date2 | date:'medium'}}</p><br>

<h2> <u>Currency Pipes</u>  </h2>

<p>{{amount}}</p>
<p>{{amount | currency}}</p>
<p>{{amount | currency:'INR'}}</p>
<p>{{amount | currency:'USD'}}</p><br>

<h2> <u>slice Pipe</u>  </h2>

<p> {{sample | slice:7}}</p>
<p> {{sample | slice:0:6}}</p>
<p> {{arr | slice:1:3}}</p><br>

<h2> <u>Multiple Pipe</u>  </h2>
<p> {{sample | slice:0:10 | uppercase}}</p><br>

<h2> <u>Custom Pipe</u>  </h2>
<p>{{vall}}</p>
<p>{{vall | custom:2:8}}</p>
<p>{{vall | custom:10}}</p>

<h2>Json Pipe</h2>
<p>{{data | json }}</p>


